<header>
  <h1>Closet Cleanup</h1>
  <nav>
    <a routerLink="/" href="#">Home</a> |
    <a routerLink="/dashboard" href="#">Dashboard</a> |
    <a routerLink="/outfit-planner" href="#">Outfit Planner</a> |
    <a routerLink="/public-outfits" href="#">Public Outfits</a> |
    <a routerLink="/upload-clothing" href="#">Upload Clothing</a> |
    <a routerLink="/admin" href="#">Admin</a> |
    <a routerLink="/login" href="#">Login</a> |
    <a routerLink="/signup" href="#">Sign Up</a>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>