<header>
  <h1>Closet Cleanup</h1>
  <nav>
    <a routerLink="/" style="cursor: pointer;">Home</a> |
    <a routerLink="/dashboard" style="cursor: pointer;">Dashboard</a> |
    <a routerLink="/outfit-planner" style="cursor: pointer;">Outfit Planner</a> |
    <a routerLink="/public-outfits" style="cursor: pointer;">Public Outfits</a> |
    <a routerLink="/upload-clothing" style="cursor: pointer;">Upload Clothing</a> |
    <a routerLink="/admin" style="cursor: pointer;">Admin</a> |
    <a routerLink="/login" style="cursor: pointer;">Login</a> |
    <a routerLink="/signup" style="cursor: pointer;">Sign Up</a>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>
